.galleryContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.slotsContainer {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.slot {
  width: 200px;
  height: 280px;
  border-radius: 30px;
  border: grey solid 1px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
